body {
  font-family: Verdana;
  background-color: #eff0f2;
  color: #25477c;
}

#viewicon {
  cursor: pointer;
  margin-top: 100px;
  display: none;
}

.logo {
  background-color: white;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  margin: -7px;
  justify-content: space-around;
  padding: 10px;
}

.phone {
  margin: 40px;
}

li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

li:hover {
  color: #f2b83c;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mobilenav {
  display: none;
}

.productslist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.thumbnails {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.pic:hover {
  opacity: 0.3;
}

#productsdiv {
  display: table;
  background-color: white;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 20vh;
  z-index: 2;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.producttitle {
  margin-top: 40px;
}

.picfourbtn {
  background-color: inherit !important;
  color: black !important;
  border-radius: 10px !important;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75) !important;
}

#xout {
  cursor: pointer;
}

.button {
  font-family: Verdana;
  border-radius: 2px;
  background-color: #25477c;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
}

.overlaybtn {
  font-family: Verdana;
  border-radius: 2px;
  background-color: #eff0f2;
  border: none;
  color: #25477c;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

#text {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 40px;
  position: absolute;
  width: 50%;
  text-align: center;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  background-color: #25477c;
  top: 60px;
}

#texttwo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 100px;
  width: 50%;
  text-align: center;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  background-color: #25477c;
  right: 0px;
}

#textthree {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 35px;
  position: absolute;
  width: 60%;
  text-align: center;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  background-color: #25477c;
  top: 60px;
  right: 0px;
}

#textfour {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 100px;
  width: 60%;
  text-align: center;
  box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  background-color: #25477c;
  left: 0px;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  ul {
    flex-direction: column;
    margin-left: -30px;
  }
  #mobilenav {
    display: block;
    background-color: white;
    width: 40vh;
    position: absolute;
    z-index: 2;
    box-shadow: -2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  }
  li {
    text-align: center !important;
    margin: 10px;
    padding: -5px;
    font-size: 12px;
  }
  #viewicon {
    display: block;
  }
}
